# Mantle -- Access Transformer

# ContainerScreen
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen topPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen leftPos
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen renderSlot(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen isHovering(Lnet/minecraft/world/inventory/Slot;DD)Z # isSlotSelected

# Slot
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y

# SimpleBlockModel
public net.minecraft.client.renderer.block.model.BlockModel parentLocation
public net.minecraft.client.renderer.block.model.BlockModel bakeFace(Lnet/minecraft/client/renderer/block/model/BlockElement;Lnet/minecraft/client/renderer/block/model/BlockElementFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;Lnet/minecraft/client/resources/model/ModelState;)Lnet/minecraft/client/renderer/block/model/BakedQuad;
public net.minecraft.client.renderer.block.model.BlockModel$Deserializer parseTextureLocationOrReference(Lnet/minecraft/resources/ResourceLocation;Ljava/lang/String;)Lcom/mojang/datafixers/util/Either;

# Recipe helper
public net.minecraft.world.item.crafting.RecipeManager byType(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Collection;
public net.minecraft.data.recipes.RecipeProvider has(Lnet/minecraft/world/level/ItemLike;)Lnet/minecraft/advancements/Criterion; # has
public net.minecraft.data.recipes.RecipeProvider inventoryTrigger([Lnet/minecraft/advancements/critereon/ItemPredicate;)Lnet/minecraft/advancements/Criterion;

public net.minecraft.world.item.crafting.RecipeManager byKeyTyped(Lnet/minecraft/world/item/crafting/RecipeType;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/world/item/crafting/RecipeHolder;

# Build reuse with advancements
public net.minecraft.advancements.Advancement$Builder criteria

# Faucet fluid loader variants - TODO: find replacement
#public net.minecraft.client.resources.model.ModelBakery predicate(Lnet/minecraft/world/level/block/state/StateDefinition;Ljava/lang/String;)Ljava/util/function/Predicate;

# Template
public net.minecraft.world.level.levelgen.structure.templatesystem.StructureTemplate palettes

# Ray trace for tags command
public net.minecraft.world.item.Item getPlayerPOVHitResult(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/world/level/ClipContext$Fluid;)Lnet/minecraft/world/phys/BlockHitResult;

# Fixing UI sync bug with 0 not syncing properly
protected net.minecraft.world.inventory.DataSlot prevValue

# Fix hand swinging animations resetting cooldown
public net.minecraft.world.entity.LivingEntity getCurrentSwingDuration()I

# Fix attributes sometimes not updating in time for combat helper to fetch them
public net.minecraft.world.entity.LivingEntity getLastHandItem(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack;
# Fast offhand attribute value computing
public net.minecraft.world.entity.ai.attributes.AttributeInstance getModifiersOrEmpty(Lnet/minecraft/world/entity/ai/attributes/AttributeModifier$Operation;)Ljava/util/Collection;
# Fetch spin attack damage for combat helper
public net.minecraft.world.entity.LivingEntity autoSpinAttackDmg
# Fetch damage after enchantments from player
public net.minecraft.world.entity.player.Player getEnchantedDamage(Lnet/minecraft/world/entity/Entity;FLnet/minecraft/world/damagesource/DamageSource;)F
public net.minecraft.server.level.ServerPlayer getEnchantedDamage(Lnet/minecraft/world/entity/Entity;FLnet/minecraft/world/damagesource/DamageSource;)F
public net.minecraft.world.entity.LivingEntity getKnockback(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/damagesource/DamageSource;)F

# Colored block model face bakery
public net.minecraft.client.renderer.block.model.BlockModel FACE_BAKERY
public net.minecraft.client.renderer.block.model.FaceBakery setupShape(Lorg/joml/Vector3f;Lorg/joml/Vector3f;)[F
public net.minecraft.client.renderer.block.model.FaceBakery recalculateWinding([ILnet/minecraft/core/Direction;)V
public net.minecraft.client.renderer.block.model.FaceBakery makeVertices(Lnet/minecraft/client/renderer/block/model/BlockFaceUV;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/core/Direction;[FLcom/mojang/math/Transformation;Lnet/minecraft/client/renderer/block/model/BlockElementRotation;Z)[I

# ResourceLocation validation
public net.minecraft.resources.ResourceLocation isValidNamespace(Ljava/lang/String;)Z

# LivingEntityPredicates head underwater
public net.minecraft.world.entity.Entity wasEyeInWater

# Tag contents are protected getter for some reason, so fine, its public now
public net.minecraft.core.HolderSet$Named contents

# Retextured recipe extension
public net.minecraft.world.item.crafting.ShapedRecipe result
public net.minecraft.world.item.crafting.ShapedRecipePattern data
public net.minecraft.world.item.crafting.ShapedRecipePattern$Data SYMBOL_CODEC
public net.minecraft.world.item.crafting.ShapedRecipePattern unpack(Lnet/minecraft/world/item/crafting/ShapedRecipePattern$Data;)Lcom/mojang/serialization/DataResult;

# Loot table injections
public-f net.minecraft.world.level.storage.loot.LootPool entries

# Adjust tooltip sizing and placement on book screens
public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

# Checking the current container safely
public net.minecraft.world.inventory.AbstractContainerMenu menuType

# Unicode book font
public net.minecraft.client.Minecraft fontManager
public net.minecraft.client.gui.font.FontManager fontSets

# Sources command
public net.minecraft.client.resources.model.ModelManager atlases
public net.minecraft.client.resources.model.AtlasSet atlases

# Inverted fluid
protected net.minecraft.world.level.material.FlowingFluid sourceNeighborCount(Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)I
protected net.minecraft.world.level.material.FlowingFluid spreadToSides(Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/material/FluidState;Lnet/minecraft/world/level/block/state/BlockState;)V
protected net.minecraft.world.level.material.FlowingFluid isWaterHole(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)Z
protected net.minecraft.world.level.material.FlowingFluid canPassThrough(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/Direction;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/material/FluidState;)Z
protected net.minecraft.world.level.material.FlowingFluid canPassThroughWall(Lnet/minecraft/core/Direction;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)Z
protected net.minecraft.world.level.material.FlowingFluid canHoldFluid(Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/material/Fluid;)Z
protected net.minecraft.world.level.material.FlowingFluid isSourceBlockOfThisType(Lnet/minecraft/world/level/material/FluidState;)Z
protected net.minecraft.world.level.material.FlowingFluid affectsFlow(Lnet/minecraft/world/level/material/FluidState;)Z
protected net.minecraft.world.level.material.FlowingFluid getCacheKey(Lnet/minecraft/core/BlockPos;Lnet/minecraft/core/BlockPos;)S

# Hunger command
public net.minecraft.world.food.FoodData foodLevel
public net.minecraft.world.food.FoodData saturationLevel

# Offhand attack indicator
public net.minecraft.client.gui.Gui CROSSHAIR_ATTACK_INDICATOR_BACKGROUND_SPRITE
public net.minecraft.client.gui.Gui CROSSHAIR_ATTACK_INDICATOR_PROGRESS_SPRITE
public net.minecraft.client.gui.Gui HOTBAR_ATTACK_INDICATOR_BACKGROUND_SPRITE
public net.minecraft.client.gui.Gui HOTBAR_ATTACK_INDICATOR_PROGRESS_SPRITE
