# Mantle -- Access Transformer

# ContainerScreen
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_146999_f # xSize
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147000_g # ySize
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147009_r # guiTop
public net.minecraft.client.gui.screen.inventory.ContainerScreen field_147003_i # guiLeft
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_238746_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/inventory/container/Slot;)V # drawSlot
public net.minecraft.client.gui.screen.inventory.ContainerScreen func_195362_a(Lnet/minecraft/inventory/container/Slot;DD)Z # isSlotSelected

# AbstractGUI
public net.minecraft.client.gui.AbstractGui func_238461_a_(Lnet/minecraft/util/math/vector/Matrix4f;IIIIIFFFF)V # blit

# Slot
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos

# Screen
public net.minecraft.client.gui.screen.Screen buttons # buttons

# Model utils
public net.minecraft.client.renderer.model.WeightedBakedModel field_177566_c # baseModel
public net.minecraft.client.renderer.model.MultipartBakedModel field_188626_f # selectors

# SimpleBlockModel
public net.minecraft.client.renderer.model.BlockModel field_178316_e # parentLocation
public net.minecraft.client.renderer.model.BlockModel func_228812_a_(Lnet/minecraft/client/renderer/model/BlockPart;Lnet/minecraft/client/renderer/model/BlockPartFace;Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;Lnet/minecraft/util/Direction;Lnet/minecraft/client/renderer/model/IModelTransform;Lnet/minecraft/util/ResourceLocation;)Lnet/minecraft/client/renderer/model/BakedQuad; # bakeFace
public net.minecraft.client.renderer.model.BlockModel$Deserializer func_228819_a_(Lnet/minecraft/util/ResourceLocation;Ljava/lang/String;)Lcom/mojang/datafixers/util/Either; # findTexture

# Recipe helper
public net.minecraft.item.crafting.RecipeManager func_215366_a(Lnet/minecraft/item/crafting/IRecipeType;)Ljava/util/Map; # getRecipes

# Fluid rendering
public net.minecraft.client.renderer.RenderState field_228520_l_ # SHADE_ENABLED
public net.minecraft.client.renderer.RenderState field_228528_t_ # LIGHTMAP_ENABLED
public net.minecraft.client.renderer.RenderState field_228521_m_ # BLOCK_SHEET_MIPPED
public net.minecraft.client.renderer.RenderState field_228515_g_ # TRANSLUCENT_TRANSPARENCY

# Faucet fluid loader variants
public net.minecraft.client.renderer.model.ModelBakery func_209605_a(Lnet/minecraft/state/StateContainer;Ljava/lang/String;)Ljava/util/function/Predicate; # parseVariantKey

# Template
public net.minecraft.world.gen.feature.template.Template field_204769_a # blocks

# DimensionType
public net.minecraft.world.DimensionType field_236004_h_ # OVERWORLD_TYPE

# Ray trace for tags command
public net.minecraft.item.Item func_219968_a(Lnet/minecraft/world/World;Lnet/minecraft/entity/player/PlayerEntity;Lnet/minecraft/util/math/RayTraceContext$FluidMode;)Lnet/minecraft/util/math/BlockRayTraceResult; # rayTrace

# Fixing UI sync bug with 0 not syncing properly
protected net.minecraft.util.IntReferenceHolder field_221498_a # lastKnownValue

# Fix hand swinging animations resetting cooldown
public net.minecraft.entity.LivingEntity func_82166_i()I # getArmSwingAnimationEnd

# Block properties
public net.minecraft.block.Blocks func_235427_a_(Lnet/minecraft/block/BlockState;Lnet/minecraft/world/IBlockReader;Lnet/minecraft/util/math/BlockPos;Lnet/minecraft/entity/EntityType;)Ljava/lang/Boolean; # neverAllowSpawn
